<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Yanggang's Website</h1>
            <hr>
            <p color:blue>Welcome! This website is now used as a private diary temporaryily. Here I will share my learning experience and some useful pages or notes from other students and professors.</p>
            <h3>我的学习日记</h3>
            <hr>
            <a href="" class="btn btn-primary btn-xl page-scroll">DIARY  日记本</a>
        </div>
    </div>
</header>
